@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

.box{
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  min-width: 100vh;
  
}
nav{
  padding: 20px 40px;
  background-color: rgb(255, 255, 255);
  color :#fff;
  display:flex;
  justify-content: flex-end;
  gap:20px 

}

nav a{
color:#fff;

}